
{% extends './layout.html' %}
{% block title %} Create a Christmas List Item {% endblock %}
{% block body %}

    <a href="Home">Home</a>
    <a href="Logout">Logout</a>


    <div class="container">
        <h2>Iphone 9</h2>
        <h6>Users who added this product/item under their wish list.</h6>
    </div>

    <table id=" List of names who picked this item. ">
        <tbody>
            <tr>
                <th><a href="users/">mark</a></th>
            </tr>
            <tr>
                <th><a href="users/">Wyn</a></th>
            </tr>
            <tr>
                <th><a href="users/">Jim</a></th>
            </tr>
        </tbody>
    </table>

{% endblock %}